p {
	
	background-color: green;
	color: red;
	
}

li {
	
	font-family: cursive;
	
}

.class1 {
	
	background-color: black;
	
}

.class2 {
	
	background-color: white;
	
}

#l1 {
	
	color:white;
	
}
#l2{
	
	color:dark-grey;
	
}